# Data Wrangling with Pandas I

<img src="images/pipelines.jpg" width=50% style="margin-left:auto; margin-right:auto">


<div align = "left"> 
    <br>
    <br>
Image by <a href="https://pixabay.com/photos/lost-places-factory-old-abandoned-2178884/">Hands off my tags! Michael Gaida</a> from Pixabay.
</div>

## Outline

In this lecture we will talk about:

- How to do Data Analysis
- Installing and Using Pandas
- Data Manipulation with Pandas
- Introducing DataFrames
- Creating a DataFrame
- Operating on Data in Pandas

## How to do Data Analysis

Here are some common steps of an analysis pipeline (the order isn't set, and not all elements are necessary):

1. Load Data
    - Check file types and encodings.
    - Check delimiters (space, comma, tab).
    - Skip rows and columns as needed.

2. Clean Data
    - Remove columns not being used.
    - Deal with "incorrect" data.
    - Deal with missing data.

3. Process Data
    - Create any new columns needed that are combinations or aggregates of other columns (examples include weighted averages, categorizations, groups, etc...).
    - Find and replace operations (examples inlcude replacing the string 'Strongly Agree' with the number 5).
    - Other substitutions as needed.
    - Deal with outliers.

4. Wrangle Data
    - Restructure data format (columns and rows).
    - Merge other data sources into your dataset.

5. Exploratory Data Analysis
    - More about thisafter the last class of the week

6. Data Analysis (not required until Milestone 3).
    - In this course we will some data analysis, but the possibilities are endless here!

7. Export reports/data analyses and visualizations.

## Data Manipulation with Pandas

### Attribution

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="images/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

In this chapter, we will be looking in detail at the data structures provided by the Pandas library.
Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a ``DataFrame``.
``DataFrame``s are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.
As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

Pandas, and in particular its ``DataFrame`` object, builds on the NumPy array structure and provides efficient access to these sorts of "data munging" tasks that occupy much of a data scientist's time. 
In this chapter, we will focus on the mechanics of using the ``DataFrame`` and related structures effectively.
We will use examples drawn from real datasets where appropriate, but these examples are not necessarily the focus.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).


To install `pandas`, open up a Terminal and install it using conda:

`conda install -c conda-forge pandas`

Just as we generally import NumPy under the alias ``np``, we will import Pandas under the alias ``pd``:

In [1]:
import numpy as np
import pandas as pd

This import convention will be used throughout the remainder of this book.

Once Pandas is installed, and imported you can check the version:

In [2]:
pd.__version__

'1.4.2'

## Reminder about Built-In Documentation

As you read through this chapter, don't forget that IPython gives you the ability to quickly explore the contents of a package (by using the tab-completion feature) as well as the documentation of various functions (using the ``?`` character). (Refer back to [Help and Documentation in IPython](https://jakevdp.github.io/PythonDataScienceHandbook/01.01-help-and-documentation.html) if you need a refresher on this.)

For example, to display all the contents of the pandas namespace, you can type

```ipython
In [3]: pd.<TAB>
```

And to display Pandas's built-in documentation, you can use this:

```ipython
In [4]: pd?
```

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.

In [3]:
pd.read_csv?

## Introducing DataFrames

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

```
import numpy as np
import pandas as pd
```

## Creating a DataFrame

There are several ways of creating DataFrames in Python using Pandas and though it can end up with the same end product, the method of creating them can depend on the format of your data.

Let's look at a few examples:

### DataFrame from URL

If your dataset exists on the web as a publicly accessible file, you can create a DataFrame directly from the URL to the CSV.

- `read_csv(path)` is a function from the Pandas package that creates a DataFrame from a CSV file. 
    - The argument `path` can be a URL or a reference to a local file.

In [73]:
pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

I can store the dataframe as an object like this:

In [8]:
fruits = pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")

fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

You can print the first 5 lines of the dataset using the `head()` function (this data set only has 3 lines):

In [9]:
fruits.head()

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [14]:
fruits["Colour"]

0       Red
1    Yellow
2    Orange
Name: Colour, dtype: object

In [15]:
fruits["Rating"]

0     8
1     9
2    10
Name: Rating, dtype: int64

In [16]:
fruits["Fruit Name"]

0         Apple
1        Banana
2    Cantoloupe
Name: Fruit Name, dtype: object

In [20]:
fruits["Rating"].sum()

27

### DataFrame from List of Dictionaries

In [28]:
fruit1 = {"Fruit Name": "Apple", "Mass(g)": 200, "Colour": "Red", "Rating": 8}

fruit2 = {"Fruit Name": "Banana", "Mass(g)": 250, "Colour": "Yellow", "Rating": 9}

fruit3 = {"Fruit Name": "Cantoloupe", "Mass(g)": 600, "Colour": "Orange", "Rating": 10}

In [29]:
pd.DataFrame([fruit1, fruit2, fruit3])

   Fruit Name  Colour  Mass(g)  Rating
0       Apple     Red      200       8
1      Banana  Yellow      250       9
2  Cantoloupe  Orange      600      10

### DataFrame from List of Tuples

In [26]:
fruit_tuples = [
    ("Apple", 200,"Red", 8),
    ("Banana", 250, "Yellow", 9),
    ("Cantoloupe", 600, "Orange", 10),  
]

labels = ["Fruit Name", "Mass(g)", "Color", "Rating"]

In [27]:
pd.DataFrame(fruit_tuples, columns=labels)

   Fruit Name  Mass(g)   Color  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

### DataFrame from a Dictionary

In [30]:
fruit_dict = {
    "Fruit Name": {0: "Apple", 1: "Banana", 2: "Cantoloupe"},
    "Mass(g)": {0: 200, 1: 250, 2: 600},
    "Colour": {0: "Red", 1: "Yellow", 2: "Orange"},
    "Rating": {0: 8, 1: 9, 2: 10},
}

In [31]:
pd.DataFrame.from_dict(fruit_dict)

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

Here's a great cheat sheet from "[Practical Business Python (PBP)](https://pbpython.com/pandas-list-dict.html)":

<img src="https://pbpython.com/images/pandas-dataframe-shadow.png">

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [45]:
fruits.columns.tolist()

col_names = list(fruits.columns)

col_names[1],col_names[3]

('Mass(g)', 'Rating')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### Other ways of creating a DataFrame

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [ ]:
data = [{"a": i, "b": 2 * i} for i in range(3)]  # list comprehension!

pd.DataFrame(data)

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [ ]:
pd.DataFrame([{"a": 1, "b": 2}, {"b": 3, "c": 4}])

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [ ]:
pd.DataFrame(
    np.random.rand(3, 2), columns=["foo", "bar"], index=["Jack", "Ali", "Nusrat"]
)

#### From a NumPy structured array

We covered structured arrays in [Structured Data: NumPy's Structured Arrays](02.09-Structured-Data-NumPy.ipynb).
A Pandas ``DataFrame`` operates much like a structured array, and can be created directly from one:

In [ ]:
A = np.zeros(3, dtype=[("A", "i8"), ("B", "f8")])
A

In [ ]:
pd.DataFrame(A)

#### How to Access elements in a DataFrame 

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'Mass(g)'`` attribute returns a ``Series`` object:

In [46]:
fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [47]:
fruits["Mass(g)"]

0    200
1    250
2    600
Name: Mass(g), dtype: int64

In [51]:
fruits.loc[0, "Mass(g)"]

200

In [52]:
fruits["Fruit Name"] == "Banana"

0    False
1     True
2    False
Name: Fruit Name, dtype: bool

In [55]:
fruits[fruits["Fruit Name"] == "Banana"]

  Fruit Name  Mass(g)  Colour  Rating
1     Banana      250  Yellow       9

In [58]:
fruits[fruits["Fruit Name"] == "Banana"]["Colour"]

1    Yellow
Name: Colour, dtype: object

For a ``DataFrame``, ``data['col0']`` will return the first **column**.

Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.
We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html).

## Operating on Data in Pandas

This is where the magic of Pandas really starts to shine - adding, and processing your dataset.

Be back in 5 minutes at 1:05!

### Summary Statistics on a Pandas DataFrame

In [59]:
fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [60]:
fruits.describe()

          Mass(g)  Rating
count    3.000000     3.0
mean   350.000000     9.0
std    217.944947     1.0
min    200.000000     8.0
25%    225.000000     8.5
50%    250.000000     9.0
75%    425.000000     9.5
max    600.000000    10.0

### You can compute other stats of numeric columns

In [67]:
fruits.select_dtypes(include="number").mean()

Mass(g)    350.0
Rating       9.0
dtype: float64

In [68]:
fruits.select_dtypes(include="number").median()

Mass(g)    250.0
Rating       9.0
dtype: float64

In [69]:
fruits.select_dtypes(include="number").mode()

   Mass(g)  Rating
0      200       8
1      250       9
2      600      10

### Create a calculated column (from one other column)

Let's say we want to create a new column in our fruits DataFrame that is a calculated column.

First let's print the DataFrame:

In [70]:
fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

Now, let's add a column called `score` which takes the rating and multiplies it by 50.

We can actually do all of this in just one line:

In [71]:
fruits["Score"] = fruits["Rating"] * 50

fruits

   Fruit Name  Mass(g)  Colour  Rating  Score
0       Apple      200     Red       8    400
1      Banana      250  Yellow       9    450
2  Cantoloupe      600  Orange      10    500

### Create a calculated column (from multiple other columns)

In [72]:
fruits["Score2"] = fruits["Score"] * 50 + fruits["Mass(g)"] * 0.25
fruits

   Fruit Name  Mass(g)  Colour  Rating  Score   Score2
0       Apple      200     Red       8    400  20050.0
1      Banana      250  Yellow       9    450  22562.5
2  Cantoloupe      600  Orange      10    500  25150.0

### Create and apply a custom function to your DataFrame

Let's say we wanted to do a complex custom operation on our DataFrame.
We have already learned how to write Python functions

In [ ]:
def keep_or_discard(x):
    """Decides whether to keep or discard a piece of fruit.

    Takes in a Pandas row, and returns either 'keep' or 'discard' depending on
    the criteria.
    """

    if (x["Mass(g)"] > 220) and (x["Rating"] > 5):
        return "keep"
    else:
        return "discard"

In [ ]:
fruits.apply(keep_or_discard, axis="columns")

We can now assign the result of this to a new column in our DataFrame.

In [ ]:
fruits["Status"] = fruits.apply(keep_or_discard, axis="columns")

fruits

One important feature that we haven't yet talked about is the "axis" parameter.

- `axis='rows'`, or `axis=0`, means apply this operation "row-wise".
- `axis='columns'`, or `axis=1`, means apply this operation "column-wise".

## How to export data

In [ ]:
fruits.to_csv("fruits_processed.csv", index=None)

In [ ]:
pd.read_csv("fruits_processed.csv")

I think this amount of functionality should keep you busy for a while!

More next time!