# Class 3A - Data Wrangling with Pandas I

We will begin at 12:00 PM! Until then, feel free to use the chat to socialize, and enjoy the music!

<img src="images/pipelines.jpg" width=50% style="margin-left:auto; margin-right:auto">


<div align = "left"> 
    <br>
    <br>
Image by <a href="https://pixabay.com/photos/lost-places-factory-old-abandoned-2178884/">Hands off my tags! Michael Gaida</a> from Pixabay.
</div>

<div align = "right"> 
    July 20, 2021 <br>
    Firas Moosvi
</div>

## Class Outline

In this lecture we will talk about:

- How to do Data Analysis
- Installing and Using Pandas
- Data Manipulation with Pandas
- Introducing DataFrames
- Creating a DataFrame
- Operating on Data in Pandas

## How to do Data Analysis

Here are some common steps of an analysis pipeline (the order isn't set, and not all elements are necessary):

1. Load Data
    - Check file types and encodings.
    - Check delimiters (space, comma, tab).
    - Skip rows and columns as needed.

2. Clean Data
    - Remove columns not being used.
    - Deal with "incorrect" data.
    - Deal with missing data.

3. Process Data
    - Create any new columns needed that are combinations or aggregates of other columns (examples include weighted averages, categorizations, groups, etc...).
    - Find and replace operations (examples inlcude replacing the string 'Strongly Agree' with the number 5).
    - Other substitutions as needed.
    - Deal with outliers.

4. Wrangle Data
    - Restructure data format (columns and rows).
    - Merge other data sources into your dataset.

5. Exploratory Data Analysis
    - More about this next week

6. Data Analysis (not required for this Task).
    - In this course we will some data analysis, but the possibilities are endless here!

7. Export reports/data analyses and visualizations.

## Data Manipulation with Pandas

### Attribution

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="images/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

In this chapter, we will be looking in detail at the data structures provided by the Pandas library.
Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a ``DataFrame``.
``DataFrame``s are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.
As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

NumPy's ``ndarray`` data structure provides essential features for the type of clean, well-organized data typically seen in numerical computing tasks.
While it serves this purpose very well, its limitations become clear when we need more flexibility (e.g., attaching labels to data, working with missing data, etc.) and when attempting operations that do not map well to element-wise broadcasting (e.g., groupings, pivots, etc.), each of which is an important piece of analyzing the less structured data available in many forms in the world around us.
Pandas, and in particular its ``DataFrame`` object, building on the NumPy array structure and provides efficient access to these sorts of "data munging" tasks that occupy much of a data scientist's time.

In this chapter, we will focus on the mechanics of using the ``DataFrame`` and related structures effectively.
We will use examples drawn from real datasets where appropriate, but these examples are not necessarily the focus.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).


To install `pandas`, open up a Terminal and install it using conda:

`conda install pandas`

Just as we generally import NumPy under the alias ``np``, we will import Pandas under the alias ``pd``:

In [9]:
import numpy as np
import pandas as pd

This import convention will be used throughout the remainder of this book.

Once Pandas is installed, and imported you can check the version:

In [10]:
pd.__version__

'1.3.0'

## Reminder about Built-In Documentation

As you read through this chapter, don't forget that IPython gives you the ability to quickly explore the contents of a package (by using the tab-completion feature) as well as the documentation of various functions (using the ``?`` character). (Refer back to [Help and Documentation in IPython](https://jakevdp.github.io/PythonDataScienceHandbook/01.01-help-and-documentation.html) if you need a refresher on this.)

For example, to display all the contents of the pandas namespace, you can type

```ipython
In [3]: pd.<TAB>
```

And to display Pandas's built-in documentation, you can use this:

```ipython
In [4]: pd?
```

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.

## Introducing DataFrames

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

```
import numpy as np
import pandas as pd
```

The fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.

## Creating a DataFrame

There are several ways of creating DataFrames in Python using Pandas and though it can end up with the same end product, the method of creating them can depend on the format of your data.

Let's look at a few examples:

### DataFrame from URL

If your dataset exists on the web as a publicly accessible file, you can create a DataFrame directly from the URL to the CSV.

- `read_csv(path)` is a function from the Pandas package that creates a DataFrame from a CSV file. 
    - The argument `path` can be a URL or a reference to a local file.

In [12]:
pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

I can store the dataframe as an object like this:

In [13]:
fruits = pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")

fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

You can print the first 5 lines of the dataset using the `head()` function (this data set only has 3 lines):

In [14]:
fruits.head()

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

### DataFrame from List of Dictionaries

In [15]:
fruit1 = {'Fruit Name': 'Apple',
            'Mass(g)': 200,
            'Colour': 'Red',
            'Rating': 8}

fruit2 = {'Fruit Name': 'Banana',
            'Mass(g)': 250,
            'Colour': 'Yellow',
            'Rating': 9}

fruit3 = {'Fruit Name': 'Cantoloupe',
            'Mass(g)': 600,
            'Colour': 'Orange',
            'Rating': 10}

In [16]:
pd.DataFrame([fruit1,
              fruit2,
              fruit3])

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

### DataFrame from List of Tuples

In [17]:
fruit_tuples = [('Apple', 200, 'Red', 8),
                ('Banana', 250, 'Yellow', 9),
                ('Cantoloupe', 600, 'Orange', 10)]

labels = ['Fruit Name', 'Mass(g)','Color','Rating']

In [18]:
pd.DataFrame(fruit_tuples,columns=labels)

   Fruit Name  Mass(g)   Color  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

### DataFrame from a Dictionary

In [19]:
fruit_dict = {'Fruit Name': {0: 'Apple', 1: 'Banana', 2: 'Cantoloupe'},
              'Mass(g)': {0: 200, 1: 250, 2: 600},
              'Colour': {0: 'Red', 1: 'Yellow', 2: 'Orange'},
              'Rating': {0: 8, 1: 9, 2: 10}}

In [20]:
pd.DataFrame.from_dict(fruit_dict)

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [21]:
list(fruits.itertuples(index=False,name=None))

[('Apple', 200, 'Red', 8),
 ('Banana', 250, 'Yellow', 9),
 ('Cantoloupe', 600, 'Orange', 10)]

Here's a great cheat sheet from "[Practical Business Python (PBP)](https://pbpython.com/pandas-list-dict.html)":

<img src="https://pbpython.com/images/pandas-dataframe-shadow.png">

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [22]:
fruits.columns

Index(['Fruit Name', 'Mass(g)', 'Colour', 'Rating'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### Other ways of creating a DataFrame

#### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'Mass(g)'`` attribute returns a ``Series`` object:

In [23]:
fruits['Mass(g)']

0    200
1    250
2    600
Name: Mass(g), dtype: int64

For a ``DataFrame``, ``data['col0']`` will return the first **column**.

Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.
We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html).

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [25]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [26]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [27]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.265872  0.705599
b  0.369404  0.168110
c  0.079601  0.483978

#### From a NumPy structured array

We covered structured arrays in [Structured Data: NumPy's Structured Arrays](02.09-Structured-Data-NumPy.ipynb).
A Pandas ``DataFrame`` operates much like a structured array, and can be created directly from one:

In [28]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [29]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Operating on Data in Pandas

This is where the magic of Pandas really starts to shine - adding, and processing your dataset.

### Summary Statistics on a Pandas DataFrame

In [58]:
fruits.describe()

          Mass(g)  Rating  Score     Score2
count    3.000000     3.0    3.0    3.00000
mean   350.000000     9.0  450.0  537.50000
std    217.944947     1.0   50.0  102.31691
min    200.000000     8.0  400.0  450.00000
25%    225.000000     8.5  425.0  481.25000
50%    250.000000     9.0  450.0  512.50000
75%    425.000000     9.5  475.0  581.25000
max    600.000000    10.0  500.0  650.00000

### You can compute other stats of numeric columns

In [61]:
fruits.select_dtypes(include='number').mean()

Mass(g)    350.0
Rating       9.0
Score      450.0
Score2     537.5
dtype: float64

In [62]:
fruits.select_dtypes(include='number').median()

Mass(g)    250.0
Rating       9.0
Score      450.0
Score2     512.5
dtype: float64

In [63]:
fruits.select_dtypes(include='number').mode()

   Mass(g)  Rating  Score  Score2
0      200       8    400   450.0
1      250       9    450   512.5
2      600      10    500   650.0

### Create a calculated column (from one other column)

Let's say we want to create a new column in our fruits DataFrame that is a calculated column.

First let's print the DataFrame:

In [32]:
fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

Now, let's add a column called `score` which takes the rating and multiplies it by 50.

We can actually do all of this in just one line:

In [35]:
fruits['Score'] = fruits['Rating']*50

fruits

   Fruit Name  Mass(g)  Colour  Rating  Score
0       Apple      200     Red       8    400
1      Banana      250  Yellow       9    450
2  Cantoloupe      600  Orange      10    500

### Create a calculated column (from multiple other columns)

In [53]:
fruits['Score2'] = fruits['Rating']*50 + fruits['Mass(g)']*0.25
fruits

   Fruit Name  Mass(g)  Colour  Rating  Score   Status  Score2
0       Apple      200     Red       8    400  discard   450.0
1      Banana      250  Yellow       9    450     keep   512.5
2  Cantoloupe      600  Orange      10    500     keep   650.0

### Create and apply a custom function to your DataFrame

Let's say we wanted to do a complex custom operation on our DataFrame.
We have already learned how to write Python functions

In [55]:
def keep_or_discard(x):
    """Decides whether to keep or discard a piece os fruit.

    Takes in a Pandas row, and returns either 'keep' or 'discard' depending on 
    the criteria.
    """
    
    if (x['Mass(g)'] > 220) and (x['Rating'] > 5):
        return 'keep'
    else:
        return 'discard'

In [56]:
fruits.apply(keep_or_discard,axis=1)

0    discard
1       keep
2       keep
dtype: object

We can now assign the result of this to a new column in our DataFrame.

In [65]:
fruits['Status'] = fruits.apply(keep_or_discard,axis='columns')

fruits

   Fruit Name  Mass(g)  Colour  Rating  Score   Status  Score2
0       Apple      200     Red       8    400  discard   450.0
1      Banana      250  Yellow       9    450     keep   512.5
2  Cantoloupe      600  Orange      10    500     keep   650.0

One important feature that we haven't yet talked about is the "axis" parameter.

- `axis='rows'`, or `axis0`, means apply this operation "row-wise".
- `axis='columns'`, or `axis=1`, means apply this operation "column-wise".

I think this amount of functionality should keep you busy for a while!

More next time!